.grid-card-container {
  .grid-card-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-bottom: 10px;
    .grid-card-information {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .grid-user-info {
        display: flex;
        align-items: center;
        img {
          margin-left: 4px;
        }
      }
    }
    svg {
      position: absolute;
      right: 0;
    }
  }
}
