.dropdown-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  box-shadow: 24;
  border-radius: 4px;
  .buttons-container {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;

    button {
      display: "flex";
      flex-grow: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  .dropdown-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: auto;
    box-shadow: 24;
    .buttons-container {
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
      box-sizing: border-box;
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;

      button {
        display: "flex";
        flex-grow: 1;
      }
    }
  }
}
